<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Add your friend's birthday</h2>
            <form action="/add" method="post">
                <div class="form">
                    
                    <label for="nameBox">Name</label>
                    <input type="text" id="nameBox" name="name">
                </div>
                <div class="form">
                    
                    <label for="bday">Birthday</label>
                    <input type="text" name="bday" placeholder="Eg - 12-05 ">
                </div>
                <input type="submit" value="Add Birthday">
            </form>
            <%- include('navbar')%>
        </div>
    </div>
</body>
</html>
