<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Birthday</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>The people available are</h1>
            <ul>
                <% people.forEach((person) => {%>
                    <li>Name = <%=person.name%> | Birthday = <%=person.bday%></li>
                    <%})%>
            </ul>
            <%- include('navbar')%>
        </div>
    </div>
</body>
</html>